@import "tailwindcss";

@layer utilities {
  @keyframes fall {
    0% {
      transform: translateY(-10vh);
    }
    100% {
      transform: translateY(110vh);
    }
  }

  .animate-fall {
    animation-name: fall;
    animation-duration: 1.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}
